.markdown {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  font-size: 1.2rem;
  margin-top: 2rem;
  line-height: 1.8;

  blockquote {
    padding: 0.5rem 0.25rem 0.5rem 2rem;
    background-color: rgb(153, 166, 180);
    border-radius: 0 5px 5px 0;
    font-style: italic;
    color: rgb(235, 235, 235);
  }

  ul {
    list-style-type: square;
  }
}
