.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  margin-top: 2rem;
  width: 100%;

  input,
  textarea {
    border-radius: 5px;
    border: solid 1px lightgray;
    padding: 0.5rem 1rem;
    width: 100%;
  }

  textarea {
    min-height: 200px;
    resize: vertical;
  }

  fieldset {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;

    padding: 0;
    width: 100%;
    border: none;
  }
}

.btn {
  color: white;
  border: solid 1px rgb(51, 49, 58);
  background-color: rgb(51, 49, 58);

  &__outline {
    color: rgb(51, 49, 58);
    background-color: white;

    &:hover {
      color: white;
      background-color: rgb(115, 107, 139);
    }
  }

  &:disabled {
    cursor: not-allowed;
    border-color: lightgray;
    background-color: lightgray;
  }
}

.buttonGroup {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  column-gap: 0.5rem;
}

.smallSuccess {
  color: rgb(115, 107, 139);
}
