.tile {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  border: solid 1px blue;
  border-radius: 5px;
  padding: 1rem;
}

.tile__categoryList {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}

.category {
  padding: 2px 4px;
  border-radius: 4px;
  border: none;
}

.category__featured {
  background-color: red;
}

.category__crime {
  background-color: yellow;
}

.category__socialnetworking {
  background-color: olivedrab;
}
